body, html {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,86,255,0.8) 0%, rgba(0,212,255,1) 100%);
    height: 100vh !important;
}

.btn-custom {
    height: 70px;
    width: 70px;
}
.btn-customTwo {
    height: 50px;
    width: 50px;
}

.buttons {
    width: 100px !important;
    max-height: 38px !important;
}

.modal-content {
    background-color: #fffff5;
} 

i {
    --fa-animation-iteration-count: 1;
}

.table-success {
    --bs-table-bg: #aed1c2 !important;
    --bs-table-striped-bg: #52ca94 !important;
    --bs-table-hover-bg: #205ffd !important;
    --bs-table-hover-color: #fff !important;
    --bs-table-active-bg: #205ffd !important;
    --bs-table-active-color: #fff !important;
  }

.c-head-colour, .table-head-colour {
    background-color: #009879 !important;
}

.c-body-colour, .locationTableBody tr:nth-child(even), .departmentTableBody tr:nth-child(even), #personnelTableBody tr:nth-child(even){
    background-color: rgb(224, 248, 255) !important;
}

.locationTableBody tr:nth-child(odd), .departmentTableBody tr:nth-child(odd),  #personnelTableBody tr:nth-child(odd) {
    background-color: white !important;
}

#personnelInfo {
    height: 70vh !important;
}

#personnelInfoHead {
    background-color: #009879 !important;
}
.circleDiv {
    height: 40px !important;
    width: 40px !important;
}

#personnelInputSearch {
    border-radius: 50px 0px 0px 50px !important;
}

#dropdownMenuButton1 {
    border-radius: 0px 50px 50px 0px !important;
    background-color: azure !important;
}

#tableWrapper {
    height: calc(100% - 90px) !important;
    overflow-y: scroll !important;
  }

#personnelContent{
    height: 70vh !important;
}

.circleDiv{
    border-radius: 50% !important;
    height: 35px !important;
    width: auto !important;
    font-size: smaller !important;
    }

@media (max-width: 766px) { 
    #department, #location {
        margin: 0 !important;
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        -ms-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
    }
}

#addEmplSm {
    right: 60px;
    bottom: 22vh;
}



#personalDataImage {
    width: 35%;
    height: auto;
}
#personalDataImageTwo {
    width: 30%;
    height: auto;
}

.personnelRowClick { 
    cursor: pointer; 
} 