
@media (max-width: 767.98px) {
    .content-intro {
        top: 40% !important;
        padding: 0px !important;
    }
}

@media (min-width: 767.99px) {

    .project1 {
        border-right: 1px solid white !important;
    }
}

#intro {
    background-image: url('../img/intro.jpg');
}

footer {
    background-color: #111;
}

#contact {
    background-color: #fff;
}

#skills {
    background-color: #eee;
}

.bg-btn {
    background-color: #eee;
}

.logo {
    height: 110px !important;
    width: auto !important;
    justify-content: center !important;
}

.logo img {
    max-height: 80px !important;
    width: auto !important;
}


.loader {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: black url('../img/preloader.gif') no-repeat center center;
    z-index: 9999;
    }


    .cv-item {
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 3px dashed rgb(101, 60, 151);
        position: relative;
    }
    
    .cv-item::before {
        content:'';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        left: -9px;
        top: 0;
        background: #fff;
        border: 3px solid rgb(101, 60, 151);
    }

    .cv-item-border {
        border-left: 3px solid white !important;
    }

    .resume-item-color {
        color: rgb(101, 60, 151);
    }

    .contact-img-link {
        height: 50px;
        width: 50px;

    }