
@media (max-width: 767.98px) {
    .content-intro {
        top: 40% !important;
        padding: 0px !important;
    }
}

@media (min-width: 767.99px) {

    .project1 {
        border-right: 1px solid white !important;
    }
}

#intro {
    background-image: url('../img/intro.jpg');
}

footer {
    background-color: #111;
}

#contact {
    background-color: #fff;
}

#skills {
    background-color: #eee;
}

.bg-btn {
    background-color: #eee;
}

.logo {
    height: 110px !important;
    width: auto !important;
    justify-content: center !important;
}

.logo img {
    max-height: 110px !important;
    width: auto !important;
}


.loader {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: black url('../img/preloader.gif') no-repeat center center;
    z-index: 9999;
    }

.customFont {
    font-family: "Times New Roman", Times, serif !important;
    padding-left: 7px;
}