body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

#map {
    height: calc(100% - 56px);
    width: 100%;
    z-index: 0;
}

#info_text {
    background-color:ghostwhite;
    height: auto;
    width: auto;
    opacity: .8;
    margin-top: 20px;
    margin-left: 20px;
}