body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

#map {
    height: calc(100% - 56px);
    width: 100%;
    z-index: 0;
}

.mapOverlay {
    top: 60px;
}

#flagImg {
    height: 160px;
    width: auto;
}

span {
    font-weight: normal !important;
}

.card {
    height: 270px;
}

select {

    -webkit-transition: none !important;
    
    -moz-transition: none !important;
    
    -o-transition: none !important;
    
    transition: none !important;
    
    }
    
    option {
    
    -webkit-transition: none !important;
    
    -moz-transition: none !important;
    
    -o-transition: none !important;
    
    transition: none !important;
    
    }