body, html {
    height: 100vh !important;
}

.btn-custom {
    height: 70px;
    width: 70px;
}
.btn-customTwo {
    height: 50px;
    width: 50px;
}

.buttons {
    width: 100px !important;
    max-height: 38px !important;
}

#personnelInfo {
    height: 70vh !important;
}

#personnelInputSearch {
    border-radius: 50px 0px 0px 50px !important;
}

#dropdownMenuButton1 {
    border-radius: 0px 50px 50px 0px !important;
}

.tableWrapper {
    overflow-y: scroll !important;
    max-height: 70vh !important;
  }

.tableWrapperTwo {
    overflow-y: scroll !important;
    max-height: 63vh !important;
  }

#personnelContent {
    height: 70vh !important;
}

@media (max-width: 766px) { 
    #department, #location {
        margin: 0 !important;
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        -ms-transform: translateY(-50%) !important;
        transform: translateY(-50%) !important;
    }
}

#addEmplSm {
    right: 60px;
    bottom: 22vh;
}

#personalDataImage {
    width: 35%;
    height: auto;
}
#personalDataImageTwo {
    width: 30%;
    height: auto;
}

.personnelRowClick { 
    cursor: pointer; 
} 

.loader {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: black url('images/preloader.gif') no-repeat center center;
    z-index: 9999;
    }