body, html {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
}

.btn-custom {
    height: 70px;
    width: 70px;
}
.btn-customTwo {
    height: 50px;
    width: 50px;
}

.buttons {
    width: 100px !important;
    max-height: 38px !important;
}

#personnelInfo {
    height: calc(100vh - 250px) !important;
}


#personnelInputSearch {
    border-radius: 50px 0px 0px 50px !important;
}

#dropdownMenuButton1 {
    border-radius: 0px 50px 50px 0px !important;
    background-color: azure !important;
}

.tableWrapper  {
    height: calc(100% - 70px) !important;
    overflow-y: scroll !important;
  }

.tableWrapperTwo {
    overflow: auto !important;
    max-height: calc(100vh - 250px) !important;
  }

@media (max-width: 766px) { 
    #personnelContent {
        max-height: calc(100vh - 164px) !important;
        min-height: 20vh !important;
    }
}

@media (min-width: 766px) { 
    #personnelContent {
        height: calc(100vh - 250px) !important;
    }
}

#addEmplSm {
    right: 60px;
    bottom: 150px;
}

#personalDataImage {
    width: 35%;
    height: auto;
}
#personalDataImageTwo {
    width: 30%;
    height: auto;
}

.personnelRowClick { 
    cursor: pointer; 
} 

.loader {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: whitesmoke url('images/preloader.gif') no-repeat center center;
    z-index: 9999;
    }