body, html {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
}

.btn-custom {
    height: 70px;
    width: 70px;
}
.btn-customTwo {
    height: 50px;
    width: 50px;
}

.buttons {
    width: 100px !important;
    max-height: 38px !important;
}

#personnelInfo {
    height: auto !important;
}


#personnelInputSearch {
    border-radius: 50px 0px 0px 50px !important;
}

#dropdownMenuButton1 {
    border-radius: 0px 50px 50px 0px !important;
    background-color: azure !important;
}

.tableWrapper  {
    height: calc(100% - 50px) !important;
    overflow: auto !important;
  }

  .tableWrapperTwo  {
    height: calc(100% - 50px) !important;
    overflow: auto !important;
  }

#department {
    max-height: calc(100% - 250px);
    width: 100%;
    min-height: 300px;
}

#location {
    max-height: calc(100% - 150px);
    min-height: 200px;
}

.locationContent {
    height: calc(100% - 70px);
} 

.locationWidh {
    min-width: 400px;
    max-width: 100%;
}

@media (max-width: 766px) { 
    .personnel {
        height: calc(100% - 150px);
    }
    .personnelContent {
        height: 100%
    }
}

@media (min-width: 766px) { 

    .personnel {
        max-height: calc(100% - 200px);
        width: 100%;
        min-height: 500px;
    }
    .personnelContent, .departmentContent {
        height: calc(100% - 50px);
    }   
}

#addEmplSm {
    right: 45px;
    bottom: 150px;
    height: 45px;
    width: 45px;
}

#personalDataImage {
    width: 35%;
    height: auto;
}
#personalDataImageTwo {
    width: 30%;
    height: auto;
}

.personnelRowClick { 
    cursor: pointer; 
} 
 .topHeight {
     height: 40px;
 }
.loader {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: whitesmoke url('images/preloader.gif') no-repeat center center;
    z-index: 9999;
    }